Welcome to the Cheap Glk Implementation, library version 1.0.6.




You awake. You are lonely, so lonely. It was a thousand days ago today. All alone these thousand days. Your parents were the last. No, your father was the last. He held on for nearly a hundred days longer. Now you are the last. Alone. Adrift.

But maybe it isn't hopeless. There must still be other people in other worlds, and you think you know how to get there.

Today is the day.

Founder's Mercy
A Space Story by Thomas Insel
Release 1 / Serial number 181230 / Inform 7 build 6M62 (I6/v6.33 lib 6/12N) SD
Type ABOUT for credits or HINT for assistance.

Home (on the blanket)
The room where you've slept your entire life. The crops are outside.

There is a secured hatch in the floor.

>scanning the antennas:
Antennas are not calibrated.

scanning the port airlock door:
No modular technology detected.

scanning the stars:
No modular technology detected.

scanning the solar panels:
Machine is functional. Operating at 73% efficiency.

scanning yourself:
License error: consider upgrading to a 3000-series model to scan lifeforms.

scanning the window:
No modular technology detected.

scanning the station:
No modular technology detected.

scanning the lever:
No modular technology detected.

scanning the calibration panel:
Machine is functional. Antenna is not calibrated.

scanning the yellow cable:
Cable is functional.

scanning the pocket:
No modular technology detected.

scanning the scanner:
Machine is functional.

scanning the green jumpsuit:
No modular technology detected.

scanning the RF socket:
Socket is functional.

scanning the RF plug:
Plug is functional.

scanning the RF plug:
Plug is functional.

scanning the display:
Component is functional.

scanning the keypad:
Component is functional.

scanning the station walls:
No modular technology detected.

scanning the maintenance platform:
No modular technology detected.

scanning the mirrors:
No modular technology detected.

scanning the antennas:
Antennas are not calibrated.

scanning the hub:
No modular technology detected.

scanning the floor hatch:
No modular technology detected.

scanning the crops:
License error: consider upgrading to a 3000-series model to scan lifeforms.

scanning the graveyard:
No modular technology detected.

scanning the pylon:
No modular technology detected.

scanning the barn:
No modular technology detected.

scanning the bulkhead door:
No modular technology detected.

scanning the space suit:
Machine is failed.

scanning the brass plate:
No modular technology detected.

scanning the status display:
Machine is functional.

scanning the atmosphere pump:
Machine is failed. Check modules.

scanning the power module:
Module is faulty.

scanning the unscanned pressure regulation module:
Module is faulty.

scanning the plow:
No modular technology detected.

scanning the hoe:
No modular technology detected.

scanning the berths:
Machine is functional.

scanning the pile of clutter:
Technology detected. Suggest more specific scan.

scanning the atmosphere sensor:
Machine functional. No breathable atmosphere.

scanning the emergency communications unit:
Machine functional. No audio connection. No RF connection.

scanning the unremarkable junk:
No modular technology detected.

scanning the almond socket:
Socket is functional.

scanning the RF socket:
Socket is functional.

scanning the pylons:
No modular technology detected.

scanning the pond:
No modular technology detected.

scanning the fish:
License error: consider upgrading to a 3000-series model to scan lifeforms.

scanning the pylon:
No modular technology detected.

scanning the trees:
License error: consider upgrading to a 3000-series model to scan lifeforms.

scanning the church:
No modular technology detected.

scanning the the house:
No modular technology detected.

scanning the altar:
No modular technology detected.

scanning the organ:
Machine functional. No output available.

scanning the audio unit:
Machine failed. Check module.

scanning the gray cable:
Cable is functional.

scanning the Founder's Testament:
No modular technology detected.

scanning the unscanned power module:
Module is faulty.

scanning the tan socket:
Socket is functional.

scanning the beige socket:
Socket is functional.

scanning the USB plug:
Plug is functional.

scanning the USB plug:
Plug is functional.

scanning the doll:
No modular technology detected.

scanning the home:
No modular technology detected.

scanning the vegetables:
License error: consider upgrading to a 3000-series model to scan lifeforms.

scanning the floor hatch:
No modular technology detected.

scanning the blanket:
No modular technology detected.

scanning the shelves:
No modular technology detected.

scanning the large bag of split peas:
No modular technology detected.

scanning the canned vegetables:
No modular technology detected.

scanning the emergency mask:
Machine is functional.

scanning the school house:
No modular technology detected.

scanning the pylon:
No modular technology detected.

scanning the trees:
License error: consider upgrading to a 3000-series model to scan lifeforms.

scanning the learning machine:
Machine is failed. Check modules.

scanning the desk:
No modular technology detected.

scanning the chalkboard:
No modular technology detected.

scanning the unscanned power module:
Module is functional.

scanning the unscanned instruction module:
Module is faulty.

scanning the clean eraser:
No modular technology detected.

scanning the floor hatch:
No modular technology detected.

scanning the hydroponics machines:
Machine failed.

scanning the crate of machine parts:
Technology detected. Suggest more specific scan.

scanning the pair of gravity boots:
No modular technology detected.

scanning the unscanned instruction module:
Module is functional.

scanning the unscanned pressure regulation module:
Module is functional.

scanning the ground:
No modular technology detected.

scanning the pylon:
No modular technology detected.

scanning the maintenance platform:
No modular technology detected.

scanning the ladder:
No modular technology detected.

scanning the starboard airlock door:
No modular technology detected.

scanning the red circuit breaker:
Machine is functional. Breaker is open.

scanning the pigeon droppings:
No modular technology detected.

scanning the flock of pigeons:
License error: consider upgrading to a 3000-series model to scan lifeforms.

scanning the red handle:
No modular technology detected.

You have walked the entire ring. Everything is as expected, much is not working. Now, it's time to leave: the pods are below Sector 1.

>
<end of input>
