.*.swp
FoundersMercy.materials/Icon*
FoundersMercy.materials/Release
FoundersMercy.materials/*.eps
FoundersMercy.materials/*.pdf
FoundersMercy.inform/Index
FoundersMercy.inform/Build
FoundersMercy.inform/manifest.plist
FoundersMercy.inform/notes.rtf
FoundersMercy.inform/Metadata.iFiction
FoundersMercy.inform/Release.blurb
FoundersMercy.inform/Settings.plist
FoundersMercy.inform/Skein.skein
art/Feelies/Build/
.DS_Store
gameinfo.dbg
tools/makeFeelies.scpt
tools/interpreters/*/*
tools/interpreters/*.tar.gz
test/scripts-*/*.out
art/Feelies/tools/makeFeelies.scpt
